.menu-wrap {
  height: calc(100vh - 64px);
  background-color: white !important;
}


.menu-wrap h1.err {
    color: red;
    text-align: center;
    padding-top: 100px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
